body:hover{
    background-color:grey;
}
body{
  background-image:"https://www.google.com/search?sxsrf=ALiCzsY_dLPYNwBBXy-JJPhcFd0Bbiu7iA:1660366450719&q=hobbies+images&tbm=isch&chips=q:hobbies+images,g_1:background:Yei0ATZlJ9g%3D&usg=AI4_-kTtMMi8SteaifROmw5DMhk7LDTpZQ&sa=X&ved=2ahUKEwjOsveDg8P5AhU7plYBHYCfDFUQgIoDKAR6BAgCEBk&biw=1536&bih=792&dpr=1.25#imgrc=C2V4RiBEDjJcVM&imgdii=ew0aVilmaV0gYM";
}
h2{
  color:black;
}
hr {
    border-style: none;
    border-top: dotted;
    border-color: white;
    border-width:5px;
    width:10%;
}
img
{
  border-radius:10%;
}
</style>
