body:hover{
    background-color:#90EE90;
}
body{
  background-color:#FDF5E6;
h2{
  color:black;
}
hr {
    border-style: none;
    border-top: dotted;
    border-color: white;
    border-width:5px;
    width:10%;
}
img
{
  border-radius:10%;
}
     #game-section {
                background-color: skyblue;
                padding: 20px;
                margin: 20px;
                box-shadow: 2px 2px 2px #cccccc;
                text-align: center;
            }
            /* Style the game section headings */
            #game-section h2 {
                color: #0077c9;
                text-align: center;
            }
            /* Style the game section text */
            #game-section p {
                color: #4d4d4d;
                line-height: 1.5;
                text-align: center;
            }
            /* Style the game buttons */
            #game-section button {
                padding: 10px 20px;
                margin: 5px;
                font-size: 18px;
                background-color: #0077c9;
                color: #ffffff;
                border: none;
                cursor: pointer;
</style>
