body:hover{
    background-color:#FDF5E6;
}
body{
  background-color:#FFEBCD;
h2{
  color:black;
}
hr {
    border-style: none;
    border-top: dotted;
    border-color: white;
    border-width:5px;
    width:10%;
}
img
{
  border-radius:10%;
}
</style>
